<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-dark nav">
            <a class="navbar-brand" href="#">Car dealership
              <img src="assets/img/llave.png" width="50" height="50" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

            <div class="collapse navbar-collapse styleNav" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ">
                    <!-- <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
                    </li> -->
                    <li class="nav-item active margin">
                        <div class="div button">
                            <button type="button" class="btn btn-dark">
                            <i class="fa fa-moon"(click)="!esTemaOscuro && cambiarTemaClick()"  [ngClass]="{'selected': esTemaOscuro}"></i>
                             /
                            <i class="fa fa-sun" (click)="esTemaOscuro && cambiarTemaClick()" [ngClass]="{'selected': !esTemaOscuro}"></i>
                          </button>
                        </div>
                    </li>
                    <li class="nav-item active margin">
                        <div class="div button">
                            <button type="button" class="btn btn-dark" (click)="cambiarVistaClick()">Cambiar Vista<i class="far fa-eye" style="margin-left: 15px;"></i></button>
                        </div>
                    </li>
                    <li class="nav-item active margin">
                        <div class="div button">
                            <button type="button" class="btn btn-dark" (click)="cambiarFormClick()">{{ txtBotonForm }}<i class=" fa fa-list-ul" style="margin-left: 15px;"></i></button>
                        </div>
                    </li>
                </ul>

            </div>
        </nav>

    </div>
</div>
