.styleNav {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    margin-left: 50vh;
}

.nav {
    background-color: rgba(0, 0, 0, 0.879);
    width: 100%;
    z-index: 999;
    position: fixed;
    display: flex;
}

.margin {
    margin-right: 20px;
}

// .fa-moon {
//     &.selected {
//         font-size: 30px;
//     }
// }
// .fa-sun {
//     &.selected {
//         font-size: 30px;
//     }
// }
