<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card styleCard" style="width: 20rem">
                <img class="img" src="./assets/img/{{ coche.foto }}" class="card-img-top" alt="...">
                <div class="card-body bodyCard">
                    <p class="card-item"><span class="label">ID: </span> <span class="value">{{coche.id}}</span></p>
                    <p class="card-item"><span class="label">MAKE: </span><span class="value">{{ coche.nombre }}</span></p>
                    <p class="card-item"><span class="label">COLOR: </span> <span class="value">{{coche.color}}</span></p>
                    <p class="card-item"><span class="label">MODEL: </span><span class="value">{{ coche.model }}</span></p>
                    <p class="card-item"><span class="label">STATE: </span> <span class="value" [appCocheEstado]="coche.state" (iconoPulsado)="iconoPulsado($event)"></span></p>
                    <p class="card-item"><span class="label">DOORS: </span><span class="value">{{ coche.doors }}</span></p>
                    <p class="card-item"><span class="label">TYPE: </span> <span class="value">{{coche.type}}</span></p>
                    <p class="card-item"><span class="label">DISCOUNT:                                    <ng-container [ngClass]="{'': coche.discount}">
                      <span tooltip="Coche en oferta" placement="bottom" hide-delay="0"><i *ngIf="coche.discount" class="fa fa-hand-holding-usd"></i></span>
                        </ng-container>
                        </span>
                    </p>
                    <p class="card-item"><span class="label">VISIBLE: </span> <span class="value">{{coche.visible}}</span></p>
                    <p class="card-item"><span class="label">AVAILABLE: </span><span class="value">{{ coche.available }}</span></p>
                    <p class="card-item"><span class="label">PRICE: </span> <span class="value">{{coche.price}}</span></p>
                    <p class="card-item"><span class="label">RATING: </span><span class="value">{{ coche.rating }}</span></p>
                    <button type="button" [ngClass]="{'hide': !coche.available}" class="fa fa-shopping-cart fa-md shop" (click)="comprar($event,coche)"></button>
                    <button title="Editar Coche" class="fa fa-edit" (click)="cocheClick(coche)"></button>
                    <button title="Eliminar Coche" class="fa fa-trash" (click)="eliminarClick($event, coche)"></button>
                </div>
            </div>
        </div>
    </div>
</div>
