<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card style-card" style="width: 20rem">
                <img class="img" src="./assets/img/{{ coche.foto }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-item"><span class="label">Id: </span> <span class="value">{{coche.id}}</span></p>
                    <p class="card-item"><span class="label">make: </span><span class="value">{{ coche.make }}</span></p>
                    <p class="card-item"><span class="label">color: </span> <span class="value">{{coche.color}}</span></p>
                    <p class="card-item"><span class="label">model: </span><span class="value">{{ coche.model }}</span></p>
                    <p class="card-item"><span class="label">state: </span> <span class="value">{{coche.state}}</span></p>
                    <p class="card-item"><span class="label">doors: </span><span class="value">{{ coche.doors }}</span></p>
                    <p class="card-item"><span class="label">type: </span> <span class="value">{{coche.type}}</span></p>
                    <p class="card-item"><span class="label">engineHp: </span><span class="value">{{ coche.engineHp }}</span></p>
                    <p class="card-item"><span class="label">visible: </span> <span class="value">{{coche.visible}}</span></p>
                    <p class="card-item"><span class="label">available: </span><span class="value">{{ coche.available }}</span></p>
                    <p class="card-item"><span class="label">price: </span> <span class="value">{{coche.price}}</span></p>
                    <p class="card-item"><span class="label">rating: </span><span class="value">{{ coche.rating }}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
