.text-alig {
    text-align: center;
    margin-top: 20vh;
}

.style-table {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.container {
    margin-top: 15vh;
}

.colorh1 {
    color: rgb(28, 27, 27);
}
